.services-title-container h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.services-title-container {
    width: 80%;
    margin: 3% auto 0;
    margin-bottom: 3%;
}



@media(min-width: 768px) {

    .our-services-home-box {
        width: 96%;
        margin: 0 auto;
    }
    
    .services-title-container {
     margin-bottom: 3%;
     width: 100%;
     
    }

    .services-title-container h2 {
        font-size: 1.5rem;
   
    }

 
 }

 @media(min-width: 1024px) {

    
    
    .services-title-container {
     margin-bottom: 0%;
     width: 100%;
     margin-left: 1%;
    }

    .services-title-container h2 {
        font-size: 1.8rem;
   
    }

 
 }

  @media(min-width: 1200px) {
    
 
    .our-services-home-box {
    
        margin: 0 auto;
    }

 
 }