.package-carousel-container {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
    text-align: center;
    max-width: 450px;
    margin: 10% auto 0;
}

.package-slider-container, .package-carousel-list {
    width: 100%;
    height: 100%;
}




.package-carousel-li {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 500ms;
    object-fit: cover;
    padding: 3% 5%;
    border: 1px solid var(--very-light-black);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    
}

.package-prev-slide {
    transform: translateX(-100%);
    z-index: 2;
}

.package-active {
    transform: translateX(0);
    z-index: 5;
}

.package-next-slide {
    transform: translateX(100%);
    z-index: 1;
}

.pack-title {
    margin-bottom: 5%;
}

.pack-title h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.pack-price h6 {
    font-size: 2rem;
}

.pack-price p {
    font-size: 1.2rem;
    color: #a2783a;
}

.package-includes-list {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.package-includes-list  li {
    color: var(--light-black);
    font-weight: 700;
}

.contact-us-button {
    width: 80%;
    background-color: black;
    margin: 0 auto;
    padding: 5% 0;
}

.contact-us-button a {
    color: var(--light-white);
    text-transform: uppercase;
}

.contact-us-button a:visited {
    color: var(--light-white);
}

@media(min-width: 1024px) {

    .package-carousel-container {
        background-color: transparent;
    }

    .package-carousel-list {
        display: flex;
        justify-content: space-between;
    }
 
    .package-carousel-list, .package-slider-container, .package-carousel-container {
        width: 100%;
        max-width: none;
    }
    
    .package-carousel-li {
        position: static;
        max-width: none;
        transition: none;
        width: 31%;
    }

    .package-prev-slide {
        transform: translateX(0);
        z-index: 1;
    }
    
    .package-active {
        transform: translateX(0);
        z-index: 1;
    }
    
    .package-next-slide {
        transform: translateX(0);
        z-index: 1;
    }


}